@use "../../styles/variables";

.Grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: max-content;

  grid-column-gap: variables.$grid-gutter-mobile;
}

@media (min-width: variables.$breakpoint-tablet) {
  .Grid {
    grid-column-gap: variables.$grid-gutter-tablet;
  }
}
@media (min-width: variables.$breakpoint-desktop) {
  .Grid {
    grid-column-gap: variables.$grid-gutter-desktop;
  }
}
@media (min-width: variables.$breakpoint-desktophd) {
  .Grid {
    grid-column-gap: variables.$grid-gutter-desktophd;
  }
}
