$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktophd: 1440px;

$grid-gutter-mobile: 12px;
$grid-gutter-tablet: 12px;
$grid-gutter-desktop: 28px;
$grid-gutter-desktophd: 32px;

$rubik-bold: "Rubik-Bold", arial;
$rubik-bold: "Rubik-Bold", arial;
$rubik-semibold: "Rubik-SemiBold", arial;
$rubik-extrabold: "Rubik-ExtraBold", arial;
$hkgrotesk-semibold: "HKGrotesk-SemiBold", arial;
$hkgrotesk-black: "HKGrotesk-Black", arial;
$hkgrotesk-bolditalic: "HKGrotesk-BoldItalic", arial;
$hkgrotesk-semibolditalic: "HKGrotesk-SemiBoldItalic", arial;
