@import "./fonts/index.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "PPNeueMontreal-Medium";
  }
  h1,
  h2 {
    font-family: "PPNeueMontreal-Bold";
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 33px;
  }

  h3 {
    font-size: 28px;
  }

  a {
    text-decoration: underline;
  }

  nav > a {
    font-family: "PPNeueMontreal-Bold";
    font-size: 21px;
    text-decoration: none;
  }
}
