h1,
.H1 {
  font-family: PPNeueMontreal-Bold;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 1.71px;
  font-weight: 100;
}

h2,
.H2 {
  font-family: PPNeueMontreal-Medium;
  font-size: 33px;
  line-height: 1;
  letter-spacing: 1px;
  font-weight: 100;
}

h3,
.H3 {
  font-family: PPNeueMontreal-Medium;
  font-size: 21px;
  line-height: 1;
  letter-spacing: 0.86px;
  font-weight: 100;
}

.ExtraBold {
  font-family: PPNeueMontreal-Medium;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.67px;
  text-transform: uppercase;
}

body,
.Body {
  font-family: PPNeueMontreal-Medium;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.56px;
}

.Strong {
  font-family: PPNeueMontreal-Medium;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.56px;
}

.StrongItalic {
  font-family: PPNeueMontreal-Medium;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.56px;
}

.Italic {
  font-family: PPNeueMontreal-Medium;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.56px;
}
