.H1 {
  font-family: Rubik-Bold;
  font-size: 36px;
  line-height: 1;
  letter-spacing: 1.71px;
  text-transform: uppercase;
  white-space: pre;
}

.H2 {
  font-family: Rubik-Bold;
  font-size: 21px;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: pre;
}

.H3 {
  font-family: Rubik-SemiBold;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.86px;
  text-transform: uppercase;
  white-space: pre;
}

.ExtraBold {
  font-family: Rubik-ExtraBold;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.67px;
  text-transform: uppercase;
  white-space: pre;
}

.Body {
  font-family: HKGrotesk-SemiBold;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.56px;
}

.Strong {
  font-family: HKGrotesk-Black;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.56px;
}

.StrongItalic {
  font-family: HKGrotesk-BoldItalic;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.56px;
}

.Italic {
  font-family: HKGrotesk-SemiBoldItalic;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.56px;
}
