@font-face {
  font-family: "PPNeueMontreal-Bold";
  src: url("/PPNeueMontreal-Bold.ttf") format("ttf");
  src: url("/PPNeueMontreal-Bold.woff") format("woff");
}
@font-face {
  font-family: "PPNeueMontreal-Book";
  src: url("/PPNeueMontreal-Book.ttf") format("ttf");
  src: url("/PPNeueMontreal-Book.woff") format("woff");
}
@font-face {
  font-family: "PPNeueMontreal-Italic";
  src: url("/PPNeueMontreal-Italic.ttf") format("ttf");
  src: url("/PPNeueMontreal-Italic.woff") format("woff");
}
@font-face {
  font-family: "PPNeueMontreal-Medium";
  src: url("/PPNeueMontreal-Medium.ttf") format("ttf");
  src: url("/PPNeueMontreal-Medium.woff") format("woff");
}
@font-face {
  font-family: "PPNeueMontreal-SemiBoldItalic";
  src: url("/PPNeueMontreal-SemiBoldItalic.ttf") format("ttf");
  src: url("/PPNeueMontreal-SemiBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "PPNeueMontreal-Thin";
  src: url("/PPNeueMontreal-Thin.ttf") format("ttf");
  src: url("/PPNeueMontreal-Thin.woff") format("woff");
}
