.H1 {
}

.H2 {
}

.H3 {
}

.H4 {
}

.H5 {
}

.Body {
}

.Strong {
}

.StrongItalic {
}

.Italic {
}

.Link {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.Link:hover {
  font-weight: bold;
  text-decoration: underline;
}

.UL {
}

.LI {
  line-height: 2;
}
