@font-face {
  font-family: "Rubik-Bold";
  src: url("../fonts/Rubik-Bold.ttf") format("ttf");
  src: url("../fonts/Rubik-Bold.woff") format("woff");
}
@font-face {
  font-family: "Rubik-SemiBold";
  src: url("../fonts/Rubik-SemiBold.ttf") format("ttf");
  src: url("../fonts/Rubik-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Rubik-ExtraBold";
  src: url("../fonts/Rubik-ExtraBold.ttf") format("ttf");
  src: url("../fonts/Rubik-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "HKGrotesk-SemiBold";
  src: url("../fonts/HKGrotesk-SemiBold.woff") format("woff");
  src: url("../fonts/HKGrotesk-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "HKGrotesk-Black";
  src: url("../fonts/HKGrotesk-Black.otf") format("otf");
  src: url("../fonts/HKGrotesk-Black.woff") format("woff");
}
@font-face {
  font-family: "HKGrotesk-BoldItalic";
  src: url("../fonts/HKGrotesk-BoldItalic.otf") format("otf");
  src: url("../fonts/HKGrotesk-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "HKGrotesk-SemiBoldItalic";
  src: url("../fonts/HKGrotesk-SemiBoldItalic.otf") format("otf");
  src: url("../fonts/HKGrotesk-SemiBoldItalic.woff") format("woff");
}
