@font-face {
  font-family: "Rubik-Bold";
  src: url("./Rubik-Bold.ttf") format("ttf");
  src: url("./Rubik-Bold.woff") format("woff");
}
@font-face {
  font-family: "Rubik-SemiBold";
  src: url("./Rubik-SemiBold.ttf") format("ttf");
  src: url("./Rubik-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Rubik-ExtraBold";
  src: url("./Rubik-ExtraBold.ttf") format("ttf");
  src: url("./Rubik-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "HKGrotesk-SemiBold";
  src: url("./HKGrotesk-SemiBold.woff") format("woff");
  src: url("./HKGrotesk-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "HKGrotesk-Black";
  src: url("./HKGrotesk-Black.otf") format("otf");
  src: url("./HKGrotesk-Black.woff") format("woff");
}
@font-face {
  font-family: "HKGrotesk-BoldItalic";
  src: url("./HKGrotesk-BoldItalic.otf") format("otf");
  src: url("./HKGrotesk-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "HKGrotesk-SemiBoldItalic";
  src: url("./HKGrotesk-SemiBoldItalic.otf") format("otf");
  src: url("./HKGrotesk-SemiBoldItalic.woff") format("woff");
}
