@use "../../styles/variables";

.NavigationBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: variables.$breakpoint-desktop) {
  .NavigationBar {
    flex-direction: row;
  }
}

.HeaderTitle {
  white-space: pre;
}

a {
  color: black;
  text-decoration: none;
}

.Menu {
  margin: 0.5rem 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  height: 2em;
}

@media (min-width: variables.$breakpoint-tablet) {
  .Menu {
    width: 50%;
  }
}
